@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    margin-top: 2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background: white;
}

form input {
    width: 35%;
}

form button {
    width: 50px;
    color: #00C89B;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color: white;
    background: #00C89B;
}

select {
    width: 10rem;

    padding: 0.82rem;

    color: black;
    cursor: pointer;

    border: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
}

p {
    font-size: 16px;
    font-weight: bold;
}

/* ======= CLASSES ======= */

/* ======= DARK MODE BUTTON =======*/
#toggle {
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 160px;
    background: #00c89b;
    transition: 0.5s;
    cursor: pointer;
    box-shadow:
        inset 0 8px 60px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1),
        inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle.active {
    background: #222;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
        inset 0 2px 8px rgba(0, 0, 0, 0.1),
        inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
        inset 0 4px 4px rgba(255, 255, 255, 1),
        inset 0 -4px 4px rgba(255, 255, 255, 1);
    transition: 0.5s;
}

#toggle.active .indicator {
    left: 40px;
    background: linear-gradient(to bottom, #F7931E, #cc7819);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
        inset 0 4px 4px rgba(255, 255, 255, 0.2),
        inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

/* ======= DARK MODE - HEADER =======*/
.area-header {
    height: 20vh;
    width: 100%;

    padding: 2rem;
    font-size: 2.5rem;

    background: #00c89b;
    transition: 0.7s;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.area-header.active {
    background: black;
    transition: 0.7s;
}

/* ======= DARK MODE - MAIN =======*/
.area-main {
    min-height: 70vh;
    width: 100%;
    background: #e5e8e8;
    transition: 0.7s;
}

.area-main.active {
    background: rgb(26, 26, 26);
    color: #F7931E;
    transition: 0.7s;
}

/* ======= DARK MODE - FOOTER =======*/
.area-footer {
    height: 10vh;
    width: 100%;

    font-size: 0.8rem;

    background: #e5e8e8;
    transition: 0.7s;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    position: absolute;
}

.area-footer.active {
    background: rgb(26, 26, 26);
    color: white;
    transition: 0.7s;
}

/* ======= DARK MODE - shopButton =======*/
form button.active {
    color: #F7931E;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button.active:hover {
    color: white;
    background: #F7931E;
}

/* ======= LOGO ======= */
.logo-market {
    height: 15vh;
}

.mod-img {
    height: 35px;
    width: 35px;
}

.logo-senior {
    height: 35px;
    width: 35px;
}

/* ======= LISTA =======*/
.shop-container {
    padding: 3rem;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-list {
    width: 27em;
    list-style: none;
}

.item {
    margin: 0.5rem;

    background: white;
    color: black;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item li {
    flex: 1;
}

.shop-item {
    padding: 0 5px;
}

.checkbox-btn {
    height: 36px;
    width: 30px;

    color: #00C89B;
    background: white;
    transition: 0.7s;

    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trash-btn {
    height: 36px;
    width: 30px;

    color: #F0544F;
    background: white;

    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkbox-btn:hover {
    background: #00C89B;
    color: white;
    transition: 0.7s;
}

.trash-btn:hover {
    color: white;
    background: #F0544F;
    transition: 0.7s;
}

.fa-check,
.fa-trash,
.fa-xmark {
    pointer-events: none;
}

.checked {
    text-decoration: line-through;
    opacity: 0.5;
}

/* Animation when delete item*/
.moved {
    transform: translate(15rem);
    transition: all 0.5s ease;
    opacity: 0;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    top: 1rem
}

.select::after {
    content: "\25BC";

    background: white;
    color: #00C89B;

    position: absolute;
    top: 0;
    right: 0;

    padding: 0.8rem;

    pointer-events: none;
    position: all 0.3s ease;
}

.select:hover::after {
    background: #00C89B;
    color: white;
    transition: all 0.3s ease;
}

.select.active::after {
    background: white;
    color: #F7931E;
    transition: all 0.3s ease;
}

.select.active:hover::after {
    background: #F7931E;
    color: white;
    transition: all 0.3s ease;
}

.shop-filter {
    background: white;
}

/* ======= PRICE CONTAINER ======= */
.price-container {
    height: 25vh;
    width: 17vw;

    padding: 8px;

    background: white;

    border: 1px solid black;
    border-radius: 8px;
    color: black;

    position: fixed;
    top: 20rem;
    right: 3rem;
}

.item-price {
    height: 2rem;
    width: 2rem;
    background: blue;
    float: right;
    margin-right: 13.5%;
}

/* ======= MODAL CONTAINER ======= */
.modal-container {
    height: 100vh;
    width: 100vw;

    /* From https://css.glass */
    background: rgba(60, 60, 60, 0.96);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19.8px);
    -webkit-backdrop-filter: blur(19.8px);

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2000;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar  {
    display: flex;
}

.modal {
    padding: 40px;

    width: 60%;
    min-width: 300px;

    border-radius: 12px;
    background: #00C89B;

    position: relative;
}

/* Animation Modal */
@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.fechar {
    height: 25px;
    width: 25px;

    color: black;
    background: #e5e8e8;
    border: none;
    border-radius: 50%;

    top: 5px;
    right: 5px;
    position: absolute;

    cursor: pointer;
}

.fechar:hover {
    color: white;
    background: #F0544F;
    transition: 0.5s;
}

.moeda {
    height: 40px;
    width: 40px;

    color: #e5e8e8;

    padding: 10px 0;
    
    font-size: 2rem;
    font-weight: bold;
}

.input {
    margin-left: 10px;
    width: 60%;
    min-width: 300px;
}

.subtitulo {
    text-align: center;

}

.form-modal {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.price-btn {
    min-height: 5vh;
    min-width: 10vw;

    background: #e5e8e8;
    
    text-align: center;
    border-radius: 8px;
}

.price-btn:hover {
    background: #F0544F;
    color: white;
    transition: 0.5s;
}

/* ======= ANIMATION ======= */
.my-element {
    display: inline-block;
    margin: 0 0.5rem;

    animation: pulse 3s infinite;
}

.senior-animation {
    display: inline-block;
    margin: 0 0.5rem;

    animation: bounce 3s infinite;
}

/*
https://coolors.co/f0544f-00b890-2f2f2f-f4d8cd-f2e5d7
*/