@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    margin-top: 2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: white;
}

form button {
    color: #00C89B;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color: white;
    background: #00C89B;
}

/* ======= CLASSES ======= */

/* ======= DARK MODE BUTTON =======*/
/*
.mode-btn {
    height: 35px;
    width: 70px;
    border: 4px solid #FFF;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}

.mode-btn:before {
    content: '';
    position: absolute;
    float: right;
    height: 25px;
    width: 25px;
    background: #EE0111;
    border-radius: 50%;
    top: 50%;
    left: 1px;
    transform: translateY(-51%);
    transition: 0.7s;
}

.mode-btn.active:before {
    background: green;
    left: 35px;
    transition: 0.7s;
}
*/

#toggle {
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 160px;
    background: #fff;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 
    inset 0 8px 60px rgba(0,0,0,0.1),
    inset 0 8px 8px rgba(0,0,0,0.1),
    inset 0 -4px 4px rgba(0,0,0,0.1);
}

#toggle.active {
    background: #222;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}

#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
                inset 0 4px 4px rgba(255,255,255,1),
                inset 0 -4px 4px rgba(255,255,255,1);
    transition: 0.5s;
}

#toggle.active .indicator {
    left: 40px;
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
            inset 0 4px 4px rgba(255,255,255,0.2),
             inset 0 -4px 4px rgba(255,255,255,0.2);
}

/* ======= DARK MODE - HEADER =======*/
.area-header {
    height: 20vh;
    width: 100%;

    padding: 2rem;
    font-size: 2.5rem;

    background: #00c89b;
    transition: 0.7s;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.area-header.active {
    background: black;
    transition: 0.7s;
}

/* ======= DARK MODE - MAIN =======*/
.area-main {
    min-height: 70vh;
    width: 100%;
    background: #e5e8e8;
    transition: 0.7s;
}

.area-main.active {
    background: rgb(26, 26, 26);
    color: #F7931E;
    transition: 0.7s;
}

/* ======= DARK MODE - FOOTER =======*/
.area-footer {
    height: 10vh;
    width: 100%;

    font-size: 0.8rem;

    background: #e5e8e8;
    transition: 0.7s;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    position: inherit;
}

.area-footer.active {
    background: rgb(26, 26, 26);
    color: white;
    transition: 0.7s;
}

/* ======= DARK MODE - shopButton =======*/
form button.active {
    color: #F7931E;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button.active:hover {
    color: white;
    background: #F7931E;
}

/* ======= LOGO ======= */
.mod-img {
    height: 35px;
    width: 35px;
}

.logo-senior {
    height: 35px;
    width: 35px;
}

/* ======= LOGO =======*/
.logo-market {
    height: 15vh;
}

/* ======= LISTA =======*/
.shop-container {
    padding: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-list {
    width: 27em;
    list-style: none;
}

.item {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item:hover,
.trash-btn:hover {
    background: #2F2F2F;
    color: white;
    transition: 0.7s;
}

.item li {
    flex: 1;
}

.shop-item {
    padding: 0 5px;
}

[type=checkbox] {
    width: 1.2rem;
    height: 1.2rem;

    color: dodgerblue;
    vertical-align: middle;
    transition: 300ms;
    cursor: pointer;
}

.complete-btn {
    border: none;
    background: none;
    padding: 0 10px;
}

.trash-btn {
    height: 36px;
    width: 30px;
    padding: 0 10px;

    color: #F0544F;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fa-trash {
    pointer-events: none;
}


/* ======= ANIMATION ======= */
.my-element {
    display: inline-block;
    margin: 0 0.5rem;

    animation: pulse 3s infinite;
}

.senior-animation {
    display: inline-block;
    margin: 0 0.5rem;

    animation: bounce 3s infinite;
}

/*
https://coolors.co/f0544f-00b890-2f2f2f-f4d8cd-f2e5d7
*/